---
layout: default

hasBackButton: true
hasSearchButton: true

hasHeadingTitleSmall: always-visible
hasHeadingTitle: false

hasSearchBar: false

heading-title: Digital Transformation
---

<div class="subheading d-flex align-items-start align-items-start justify-content-between">
  <p class="subheading-title">Overview</p>
  <a class="subheading-link" href="">More</a>
</div>

<div class="row card-scrollable">
  {% assign blogs = site.blogs | sort: "order" | where: "categories", "overview" %}
  {% for blog in blogs %}
    <a class="card" href="{{ blog.url }}">
      {% if blog.image_url %}
        <img class="card-img-top" src="{{ blog.image_url }}" alt="" />
      {% endif %}
      <div class="card-body">
        <div class="card-body-heading">
          <h6 class="card-body-heading-title h5">{{ blog.title }}</h6>
          {% if blog.card-body-heading-subtitle %}
            <p class="card-body-heading-subtitle">By: {{ blog.author }} on {{ blog.date_published }}</p>
          {% endif %}
        </div>
        <p class="card-text">{{ blog.summary }}</p>
      </div>
      <div class="card-footer">
        <div class="d-flex align-items-start align-items-center justify-content-between">
          <ul class="list list-icon list-icon-default list-icon-left list-inline mb-0">
            <li class="list-inline-item"><i class="list-icon-item fas fa-thumbs-up"></i> <span>123</span></li>
            <li class="list-inline-item"><i class="list-icon-item fas fa-paperclip"></i> <span>5</span></li>
          </ul>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <button type="button"><i class="fas fa-chevron-down"></i></button>
            </li>
          </ul>
        </div>
      </div>
    </a>
  {% endfor %}
  <div class="spacer"></div>
</div>
